<Project>
  <PropertyGroup>
    <EnableSdkContainerSupport>true</EnableSdkContainerSupport>
    <ContainerBaseImage>mcr.microsoft.com/dotnet/aspnet:8.0-azurelinux3.0-distroless-extra@sha256:1e65650d5745b73fa5a819fc858dd0b03e899dd8efc107fd895dd1fff493c661</ContainerBaseImage>
    <ContainerRepository>azzu-web-bff</ContainerRepository>
    <ContainerUser>1654</ContainerUser>
    <ContainerWorkingDirectory>/app</ContainerWorkingDirectory>
    <UseAppHost>false</UseAppHost>
  </PropertyGroup>
  <ItemGroup>
    <ContainerEnvironmentVariable Include="ASPNETCORE_HTTP_PORTS" Value="8080" />
    <ContainerPort Include="8080" Type="tcp" />
    <ContainerPort Include="8443" Type="tcp" />
  </ItemGroup>
</Project>
